[submodule "gnuradio-android"]
	path = gnuradio-android
	url = https://github.com/analogdevicesinc/gnuradio-android
[submodule "libm2k"]
	path = libm2k
	url = https://github.com/analogdevicesinc/libm2k
[submodule "gr-m2k"]
	path = gr-m2k
	url = https://github.com/analogdevicesinc/gr-m2k
[submodule "gr-scopy"]
	path = gr-scopy
	url = https://github.com/analogdevicesinc/gr-scopy
[submodule "libsigrokdecode"]
	path = libsigrokdecode
	url = https://github.com/sigrokproject/libsigrokdecode.git
[submodule "libtinyiiod"]
	path = libtinyiiod
	url = https://github.com/analogdevicesinc/libtinyiiod.git
